aiohttp==3.8.0
aiosignal==1.2.0
async-timeout==4.0.0
asynctest==0.13.0
attrs==21.2.0
cffi==1.15.0
charset-normalizer==2.0.7
frozenlist==1.2.0
gevent==21.8.0
greenlet==1.1.2
idna==3.3
multidict==5.2.0
pycparser==2.20
typing-extensions==3.10.0.2
websockets==10.0
yarl==1.7.2
zope.event==4.5.0
zope.interface==5.4.0
